<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%-include('../../partials/navbar.ejs', {loggedIn: loggedIn})%>

</head>
<body>
                <div class="content-main">
                    <% for(let i = 0; i < clubs.length; i++){ %>
                        <div class="content">
                                <p class = "club-card">
                                        <a  href="/clubs/clubsshow/<%=clubs[i]._id%>"> <%=clubs[i].book%> </a>
                                    </p>
                                    <p class = "card-content">
                                        <strong> Read By: </strong><%=clubs[i].readBy%><br/>
                                        <strong> Reading With: </strong><%=clubs[i].members.length%> other members<br/>
                                        <strong> Meeting At : </strong><%=clubs[i].location%><br/>
                                    </p>
                        </div>
                     <% } %>               
                </div> 
        </div>
</body>
</html>