<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%-include('../../partials/navbar.ejs', {loggedIn: loggedIn})%>
    <title><%=user.username%></title>
</head>
<body>
    <div class="container">
        <div class="user-container">
            <div class="user-img-contain">
                 <a href="/auth/edit/<%=user._id%> " > <h1 class = "username-display"> <%=user.username%> </h1> </a> <br/>

                 <%if(user.photo) {%>
                    <img class = "user-img" src="<%=user.photo%>" >
                <% } else { %>
                <img class = "user-img" src="/images/Logo.svg" >
                <% } %>

               <p>  

                    <span class ="user-link"><a href="/clubs/">Find Clubs</a></span> 
                    <span class ="user-link"><a href="/clubs/new">Create Club</a></span>
               </p>

              <div class="user-genres">
               MY GENRES:
               <%for(let i=0;i<user.genres.length;i++){%> 
                    <a href="/clubs/<%=user.genres[i]%>"><%=user.genres[i]%></a>  
                <%}%>
              </div>
                 
            </div>
        </div>

        <div class="content-main">
                <%for(let i=0;i<clubs.length;i++){%>
                    

                        <div class="content">
                            
                            <p class = "club-card">
                                <a  href="/clubs/clubsshow/<%=clubs[i]._id%>"> <%=clubs[i].book%> </a>
                            </p>
                            <p class = "card-content">
                                <strong> Read By: </strong><%=clubs[i].readBy%><br/>
                                <strong> Reading With: </strong><%=clubs[i].members.length%> other members<br/>
                                <strong> Meeting At : </strong><%=clubs[i].location%><br/>
                            </p>
                            <%if(clubs[i].leader.toString()=== user._id.toString()){%>
                                <span class="leader-edit"> <a href="/clubs/edit/<%=clubs[i]._id%>"> edit club </a> </span>
                                <%}%>
                        
                        </div>         



                    <%}%>
        </div>
    </div>
    
     
    
   
</body>
</html>