<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%-include('../../partials/navbar.ejs', {loggedIn: loggedIn})%>
    <title><%=user.username%></title>
</head>
<body>
    <div class="container">
        <div class="user-container">
            <div class="user-img-contain">
                 <a href="/auth/edit/<%=user._id%> " > <h1 class = "username-display"> <%= user.username %> </h1> </a> <br/>
                <img class = "user-img" src="https://i.redd.it/7bat5p9r52b11.jpg" >
               <p>  
                    <span class ="user-link"><a href="/clubs/">Find Clubs</a></span> 
                    <span class ="user-link"><a href="/clubs/new">Create Club</a></span>
                    
                    
               </p>

              <div class="user-genres">
               MY GENRES:
               <%for(let i=0;i<user.genres.length;i++){%> <a href="/clubs/<%=user.genres[i]%>"><%=user.genres[i]%></a>,  <%}%>
              </div>
                 
            </div>
        </div>

        <div class="content-main">
                <%for(let i=0;i<clubs.length;i++){%>
                        <div class="content">
                                <p><%=clubs[i].book%></p>
                            </div>
                    <%}%>
            <!-- <div class="content">
                A
            </div> -->

        </div>
       
       
    </div>
    
     
    
   
</body>
</html>